In [68]:
import pandas as pd
import numpy as np

from datasets import load_dataset

dataset = load_dataset("cnamuangtoun/resume-job-description-fit")


df = pd.concat(
    [
        dataset["train"].to_pandas(),
        dataset["test"].to_pandas()
    ],
    ignore_index=True
)


import re
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)  # Normalize spaces
    
    text = re.sub(r'\S+@\S+', ' email ', text)  # replace emails
    text = re.sub(r'\+?\d[\d\s\-\(\)]{7,}\d', ' phone ', text)  # replace phone numbers
    text = re.sub(r'www\.\S+|https?://\S+|\S+\.com', ' url ', text)  # Mask URLs (simple patterns)

    # remove noisy characters
    text = re.sub(r"[^\w\s\.\'\-\/\+\[\]]", ' ', text)

    #text = ' '.join([word for word in text.split() if word not in ENGLISH_STOP_WORDS]) # Remove stopwords

    # Normalize spaces again
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

df['resume_text'] = df['resume_text'].apply(preprocess_text)
df['job_description_text'] = df['job_description_text'].apply(preprocess_text)


df['combined_text'] = df['resume_text'] + " [SEP] " + df['job_description_text']

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['label_encoded'] = le.fit_transform(df['label'])

del df['label']


from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.15, random_state=1, stratify=df['label_encoded'])
df_train, df_val = train_test_split(df_full_train,test_size=0.176, random_state=1, stratify=df_full_train['label_encoded'])

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.label_encoded.values
y_val = df_val.label_encoded.values
y_test = df_test.label_encoded.values

del df_train['label_encoded']
del df_val['label_encoded']
del df_test['label_encoded']


from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# TF-IDF Vectorizer
tfidf_resume = TfidfVectorizer(
    min_df=2,    #ignore very few words
    max_df=0.9,  #ignore very frequent words 
    max_features=5000,  
    ngram_range=(1,2),
    stop_words='english'
)

tfidf_jd = TfidfVectorizer(
    min_df=2,    #ignore very few words
    max_df=0.9,  #ignore very frequent words 
    max_features=5000,  
    ngram_range=(1,2),
    stop_words='english'
)


X_train_resume = tfidf_resume.fit_transform(df_train['resume_text'])
X_train_jd     = tfidf_jd.fit_transform(df_train['job_description_text'])

# Cosine similarity 
cos_sim_train = cosine_similarity(X_train_resume, X_train_jd).diagonal()

# Same for val and test (transform using train TF-IDF)
X_val_resume = tfidf_resume.transform(df_val['resume_text'])
X_val_jd     = tfidf_jd.transform(df_val['job_description_text'])

cos_sim_val   = cosine_similarity(X_val_resume, X_val_jd).diagonal()

X_test_resume = tfidf_resume.transform(df_test['resume_text'])
X_test_jd     = tfidf_jd.transform(df_test['job_description_text'])

cos_sim_test = cosine_similarity(X_test_resume, X_test_jd).diagonal()

# Add as a new column
df_train['cosine_sim'] = cos_sim_train
df_val['cosine_sim']   = cos_sim_val
df_test['cosine_sim']  = cos_sim_test



tfidf = TfidfVectorizer(
    min_df=2,    #ignore very few words
    max_df=0.9,  #ignore very frequent words 
    max_features=5000,  
    ngram_range=(1,2),
    stop_words='english'
)

X_train_combined = tfidf.fit_transform(df_train['combined_text'])
X_val_combined   = tfidf.transform(df_val['combined_text'])
X_test_combined  = tfidf.transform(df_test['combined_text'])

#df_train = df_train.drop(['resume_text','job_description_text','combined_text'], axis=1)
#df_val   = df_val.drop(['resume_text','job_description_text','combined_text'], axis=1)
#df_test  = df_test.drop(['resume_text','job_description_text','combined_text'], axis=1)

## Import libraries, dataset and read it

In [69]:
import pandas as pd
import numpy as np

In [70]:
from datasets import load_dataset

dataset = load_dataset("cnamuangtoun/resume-job-description-fit")

In [71]:
dataset

DatasetDict({
    train: Dataset({
        features: ['resume_text', 'job_description_text', 'label'],
        num_rows: 6241
    })
    test: Dataset({
        features: ['resume_text', 'job_description_text', 'label'],
        num_rows: 1759
    })
})

In [72]:
df = pd.concat(
    [
        dataset["train"].to_pandas(),
        dataset["test"].to_pandas()
    ],
    ignore_index=True
)
df

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit
...,...,...,...
7995,SummaryHighly motivated Sales Associate with e...,"Position Type: Full-Time, W2 Direct Hire. (Mus...",Good Fit
7996,SummaryWireless communications engineer with e...,"Location: Tampa, FL\nExp: 7-10 Yrs\nSPOC: Tush...",Good Fit
7997,Professional ProfileCapable International Tax ...,"Backed by a leading growth equity firm, an LA ...",Good Fit
7998,SummaryData Engineeringwith experience in Desi...,Allergan Data Labs is on a mission to transfor...,Good Fit
7999,SummaryResults-driven Data Entry Clerk with ex...,"Title: Sr. Data EngineerLocation: Austin, TxDu...",Good Fit

## EDA and preprocessing

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   resume_text           8000 non-null   object
 1   job_description_text  8000 non-null   object
 2   label                 8000 non-null   object
dtypes: object(3)
memory usage: 187.6+ KB

In [74]:
df.head()

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit

In [75]:
df.describe()

,resume_text,job_description_text,label
count,8000,8000,8000
unique,643,351,3
top,SummaryFinancial Accountant specializing in fi...,Calling all innovators find your future at Fi...,No Fit
freq,82,111,4000

In [76]:
# Check label distribution
print(df['label'].value_counts())

label
No Fit           4000
Potential Fit    2000
Good Fit         2000
Name: count, dtype: int64

In [77]:
# Check text length

df_text = pd.DataFrame()

df_text['resume_len'] = df['resume_text'].apply(len)
df_text['job_len'] = df['job_description_text'].apply(len)

print(df_text[['resume_len', 'job_len']].describe())

         resume_len      job_len
count   8000.000000  8000.000000
mean    5773.369000  2777.030875
std     2958.109675  1777.249968
min      897.000000    72.000000
25%     4234.000000  1309.000000
50%     5123.000000  2401.000000
75%     6603.000000  3985.000000
max    25364.000000  8171.000000

## Text preprocessing

In [78]:
#Remove punctuation and special characters

import re
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

stemmer = PorterStemmer()

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)  # Normalize spaces
    
    text = re.sub(r'\S+@\S+', ' email ', text)  # replace emails
    text = re.sub(r'\+?\d[\d\s\-\(\)]{7,}\d', ' phone ', text)  # replace phone numbers
    text = re.sub(r'www\.\S+|https?://\S+|\S+\.com', ' url ', text)  # Mask URLs (simple patterns)

    # remove noisy characters
    text = re.sub(r"[^\w\s\.\'\-\/\+\[\]]", ' ', text)

    #text = ' '.join([word for word in text.split() if word not in ENGLISH_STOP_WORDS]) # Remove stopwords

    # Normalize spaces again
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

df['resume_text'] = df['resume_text'].apply(preprocess_text)
df['job_description_text'] = df['job_description_text'].apply(preprocess_text)

[nltk_data] Downloading package punkt to /home/codespace/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [79]:
# Check text length

df_text = pd.DataFrame()

df_text['resume_len'] = df['resume_text'].apply(len)
df_text['job_len'] = df['job_description_text'].apply(len)

print(df_text[['resume_len', 'job_len']].describe())

         resume_len      job_len
count   8000.000000  8000.000000
mean    4857.516125  2333.126250
std     2471.028405  1502.395502
min      766.000000    64.000000
25%     3564.000000  1093.000000
50%     4338.000000  1990.000000
75%     5523.000000  3385.000000
max    21377.000000  7081.000000

In [80]:
df.head()

,resume_text,job_description_text,label
0,summaryhighli motiv sale associ with extens cu...,net2sourc inc. is an award-win total workforc ...,No Fit
1,profession summarycurr work with caterpillar a...,at sala obrien we tell our client that were en...,No Fit
2,summaryi start my construct career in june of ...,schweitzer engin laboratori sel infrastructur ...,No Fit
3,summarycertifi electr foremanwith thirteen yea...,mizick miller compani inc. is look for a dynam...,No Fit
4,summarywith extens experi in business/requir a...,life at capgemini capgemini support all aspect...,No Fit

In [81]:
# Combine text columns
df['combined_text'] = df['resume_text'] + " [SEP] " + df['job_description_text']

In [82]:
df.head()

,resume_text,job_description_text,label,combined_text
0,summaryhighli motiv sale associ with extens cu...,net2sourc inc. is an award-win total workforc ...,No Fit,summaryhighli motiv sale associ with extens cu...
1,profession summarycurr work with caterpillar a...,at sala obrien we tell our client that were en...,No Fit,profession summarycurr work with caterpillar a...
2,summaryi start my construct career in june of ...,schweitzer engin laboratori sel infrastructur ...,No Fit,summaryi start my construct career in june of ...
3,summarycertifi electr foremanwith thirteen yea...,mizick miller compani inc. is look for a dynam...,No Fit,summarycertifi electr foremanwith thirteen yea...
4,summarywith extens experi in business/requir a...,life at capgemini capgemini support all aspect...,No Fit,summarywith extens experi in business/requir a...

In [83]:
print(df['combined_text'][0])

summaryhighli motiv sale associ with extens custom servic and sale experience. outgo sale profession with track record of drive increas sale improv buy experi and elev compani profil with target market. highlights-soft skill public speak public relat team build project manag procedur write staff supervis and manag abil to interfac with profession on all levels. accomplish honor and activ -board of director member for the food bank of corpu christi from novemb 2010 to april 2013. -held life insur licens -basketbal offici refere high school varsiti level. experienceaccount 08/2014-05/2015aspiru owen wi perform daili and routin account function for two main compani and five small royalti companies. respons includ but are not limit to the follow account payabl account receiv manag and reconcil fund for multipl bank account payrol perform detail audit and adjust of balanc sheet and incom statement account audit and pay monthli sale tax inventori reconcili and budgeting.district administr manag 02/2014-06/2014tradeweb market inc. new york ny manag and assist the account receiv account payabl and hr/payrol staff for our district with daili entre follow-up and report as needed. prepar and present daili report to variou depart for more accur manag of the financi area of their oper such as inventori purchas order and bill of lading. perform account function in on-bas ax avanti and microsoft offic software.busi manag 01/2005-02/2014leido clinton ms manag the oper for a 1.2 million dollar partnership. duti includ plan overse and direct account logist and product function direct sale and custom service. account function manag over 500k of fix asset and inventori also valu over 500k.administ govern contract for usda food aid with gross revenu up to 1.5 million annual net incom 500k .upgrad company' softwar to integr bill of assembl to interfac with account software.perform month end reconcili audit close and financi statement reporting.perform regular physic inventori audits.supervis bookkeep all aspect of the account cycl includ payrol ar and ap. oper function oversaw and direct the warehous supervisor warehous mainten supervisor and up to 20 employe to assur optimum product of personnel and url munic with logist supplier such as the railroad and variou truck compani government agenc such as the usda custom and vendor to assur on time receiv product and ship of goods.creat implement and manag our company' food safeti and qualiti assur program includ a fifti page food safeti guide. 2383 suwane point drivelawrencevil ga phone email manag 01/2003-01/2004advantag solut chesapeak va provid personnel solut to variou organ for their account and administr needs. interview and advis employe in variou aspect of their profession career process. earn sale bonus within my first three month with the company.account manag 01/2002-01/2002kroger westervil oh assist control in variou aspect of the account cycle. supervis new member bill clerk and cash receipt clerk. help with comput and network issu in a window nt/xp environment. implement chang and procedur through two softwar upgrad in csi software. train variou staff in effect use of ms excel. audit corporate-bil accounts.gener merchandis depart manag 01/2000-01/2002carga system inc lancast pa supervis and train employe for strateg order and merchandis product for optim sale and in standard oper procedures. creat weekli schedul and department reports. prepar for physic inventori everi 6 months.account softwar consult 01/1998-01/2000aspiru prentic wi consult user of daceasi account applic in softwar train troubleshoot set up their entir autom account system and establish account procedur for their business. train other depart in proper account procedur work close with cpa' for all tax relat issu and coordin payrol process with an autom payrol system.account 01/1999-01/2000centrecom incorpor citi state full charg bookkeeper/account for a start-up internet telephon company. enter daili gl transactions. supervis the account payabl clerk. work with the assist control to establish and manag the account function relat to all sale aspect of the business. assist with month end reconciliations. reconcil cash balanc report for five bank account on a daili basi and assist in the manag of these accounts. other duti includ write account procedur for account payabl and cash management. educationmast of art christian educ expect in-dalla theolog seminary-dalla txgpa status-mast of art in christian educ - dalla theolog seminari dalla txbachelor of art econom expect in-marshal university-huntington wvgpa status-bachelor of art in econom - marshal univers huntington wvassoci of appli scienc account expect in-hock technic college-nelsonvil ohgpa status-associ of appli scienc in account - hock technic colleg nelsonvil oh maintain a 4.0 gpa while complet 12 hour of upper level account courses. skillsaccount sale inventori payrol the account reconcili bookkeep audit oper ap ar assembl close contract custom servic direct sale fix asset food safeti govern contract logist mainten million qualiti assur receptionist retail sale sale and ship usda account payabl solut staf cash clerk merchandis order autom payrol payrol process softwar train train account the account account receiv credit bill csi excel ms excel network all sale basi cash manag forecast gl telephon adjust audit balanc sheet budget monthli sale sale tax annuiti cpa life insur procedur write project manag public relat team build administr manag entre entré hr microsoft offic ms offic purchas order [SEP] net2sourc inc. is an award-win total workforc solut compani recogn by staf industri analyst for our acceler growth of 300 in the last 3 year with over 5500+ employe global with over 30+ locat in the us and global oper in 32 countries. we believ in provid staf solut to address the current talent gap right talent right time right place right price and act as a career coach to our consultants. role basel busi analystloc washington d.c.work mode hybridhir type 6+ month contract extend jd role specif experi 6+ year of relev technic and busi work experi the candid who have work on basel relat project in credit risk or at least are awar of credit risk. bank financi domain experi along with knowledg of risk manag familiar with concept of financ and account profici in ms excel experi in defin and implement technolog solut for a major financi institut extens experi as a busi analyst for a larg financi institut extens experi in gather busi requir and develop function specif with special emphasi on use case defin test case and provid user train and support extens experi with variou system develop lifecycl methodolog and tailor the artifact to those methodolog solution-ori detailed-focus show strong analyt and organ skill familiar with relat databas rdm experi with write simpl sql statement mostli select with aim to analyz dataset regard prashant singhsr. account manag - enterpris businessnet2sourc email phone board phone ext. 509 fax phone corp. hq 317 georg st. suit 220 new brunswick nj 08901linkedin url inprashant-singh-b1b23526websit url whi work with us - at net2sourc we believ everyon ha an opportun to lead. we see the import of your perspect and your abil to creat value. we want you to fit inwith an inclus cultur focu on work-lif fit and well-b and a support connect environ but we also want you to stand outwith opportun to have a strateg impact innov and take necessari step to make your mark. we help client with new skill talent strategi leadership develop employe experi transform chang manag and beyond. equal employ opportun statement net2sourc is an equal opportun employer. we believ that no one should be discrimin against becaus of their differ such as age disabl ethnic gender gender ident and express religion or sexual orientation. our rich divers make us more innov more competit and more creativ which help us better serv our client and our communities. all employ decis shall be made without regard to age race creed color religion sex nation origin ancestri disabl statu veteran statu sexual orient gender ident or express genet inform marit statu citizenship statu or ani other basi as protect by feder state or local law. award and accolad america' most honor busi top 10 award by uspaac for fastest grow busi in the us12th fastest grow staf compani in usa by staf industri analyst in the us 2020 2019 2020 fastest 50 by nj biz 2020 2019 2020 inc 5000 fastest grow for 8 consecut year in a row onli 1.26 compani make it to thi list top 100 by dalla busi journal 2020 and 2019 proven supplier of the year by workforc logiq 2020 and phone spirit of allianc award by agile12018 best of the best platinum award by agile12018 techserv allianc excel award winner2017 best of the best gold award by agile1 act1 group

### Encode label columns

In [84]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df['label_encoded'] = le.fit_transform(df['label'])

del df['label']

In [85]:
df.head()

,resume_text,job_description_text,combined_text,label_encoded
0,summaryhighli motiv sale associ with extens cu...,net2sourc inc. is an award-win total workforc ...,summaryhighli motiv sale associ with extens cu...,1
1,profession summarycurr work with caterpillar a...,at sala obrien we tell our client that were en...,profession summarycurr work with caterpillar a...,1
2,summaryi start my construct career in june of ...,schweitzer engin laboratori sel infrastructur ...,summaryi start my construct career in june of ...,1
3,summarycertifi electr foremanwith thirteen yea...,mizick miller compani inc. is look for a dynam...,summarycertifi electr foremanwith thirteen yea...,1
4,summarywith extens experi in business/requir a...,life at capgemini capgemini support all aspect...,summarywith extens experi in business/requir a...,1

In [86]:
label_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
label_mapping

{'Good Fit': np.int64(0), 'No Fit': np.int64(1), 'Potential Fit': np.int64(2)}

## Split the data

In [87]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.15, random_state=1, stratify=df['label_encoded'])
df_train, df_val = train_test_split(df_full_train,test_size=0.176, random_state=1, stratify=df_full_train['label_encoded'])

df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

y_train = df_train.label_encoded.values
y_val = df_val.label_encoded.values
y_test = df_test.label_encoded.values

del df_train['label_encoded']
del df_val['label_encoded']
del df_test['label_encoded']

In [88]:
df_train

,resume_text,job_description_text,combined_text
0,summaryful stack softwar engin with 8+ year of...,pay rang 81k - 102k depend on experience.thi r...,summaryful stack softwar engin with 8+ year of...
1,profession summarytal leader and attorney by t...,who we are found in 2017 gatik is the leader i...,profession summarytal leader and attorney by t...
2,profession summarywith the attitud of learn i ...,hi repli request for below job opportunity.i k...,profession summarywith the attitud of learn i ...
3,summarydetail orient and team focus epidemiolo...,a littl about thi gig agil partner is seek a q...,summarydetail orient and team focus epidemiolo...
4,profession summaryqa test analyst/ develop tes...,primari locat melbourn florida v-soft consult ...,profession summaryqa test analyst/ develop tes...
...,...,...,...
5598,profession profileclair 6.1 csa from pegasyste...,descript what were look for at appfolio we pad...,profession profileclair 6.1 csa from pegasyste...
5599,profession summarywith the attitud of learn i ...,role detail we are seek a senior softwar engin...,profession summarywith the attitud of learn i ...
5600,summarycap fund account success at manag multi...,posit cost account report to presid the compan...,summarycap fund account success at manag multi...
5601,profilehighli motiv sale associ with extens cu...,posit busi analyst ivloc st. loui mo onsit fro...,profilehighli motiv sale associ with extens cu...
5602,summaryov 5 year of engin and financ experi as...,when you join verizon verizon is one of the wo...,summaryov 5 year of engin and financ experi as...

### Converting Resume Text and Job Description Text into Vectors and Computing Cosine Similarity as a New Feature

#### TF-IDF Vectorizer
- Converts text into numbers that reflect how important each word is in a document relative to the whole collection of documents.
- **Output:** A numeric vector for each document, where each element represents the TF-IDF score of a word from the vocabulary.

#### Cosine Similarity
- Computes the angle between the two TF-IDF vectors.
- `1` → texts are very similar
- `0` → texts are completely different

In [89]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# TF-IDF Vectorizer
# Create SHARED vocabulary for cosine similarity
shared_tfidf = TfidfVectorizer(
    stop_words='english',
    max_features=5000
)

# Fit on BOTH resumes and JDs
all_train_text = pd.concat([
    df_train['resume_text'], 
    df_train['job_description_text']
])
shared_tfidf.fit(all_train_text)


X_train_resume = shared_tfidf.transform(df_train['resume_text'])
X_train_jd     = shared_tfidf.transform(df_train['job_description_text'])

# Cosine similarity 
cos_sim_train = cosine_similarity(X_train_resume, X_train_jd).diagonal()

# Same for val and test (transform using train TF-IDF)
X_val_resume = shared_tfidf.transform(df_val['resume_text'])
X_val_jd     = shared_tfidf.transform(df_val['job_description_text'])

cos_sim_val   = cosine_similarity(X_val_resume, X_val_jd).diagonal()

X_test_resume = shared_tfidf.transform(df_test['resume_text'])
X_test_jd     = shared_tfidf.transform(df_test['job_description_text'])

cos_sim_test = cosine_similarity(X_test_resume, X_test_jd).diagonal()

In [90]:
tfidf = TfidfVectorizer(
    stop_words='english',    # ← This helps
    max_features=5000        # ← This prevents memory issues
)

X_train_combined = tfidf.fit_transform(df_train['combined_text'])
X_val_combined   = tfidf.transform(df_val['combined_text'])
X_test_combined  = tfidf.transform(df_test['combined_text'])

In [91]:
from scipy.sparse import hstack

X_train_final = hstack([X_train_combined, cos_sim_train.reshape(-1, 1)])
X_val_final = hstack([X_val_combined, cos_sim_val.reshape(-1, 1)])
X_test_final = hstack([X_test_combined, cos_sim_test.reshape(-1, 1)])

### check features ranges

In [92]:
# Check TF-IDF range
print("TF-IDF Combined features range:")
print(f"  Min: {X_train_combined.min():.6f}")
print(f"  Max: {X_train_combined.max():.6f}")
print(f"  Mean: {X_train_combined.mean():.6f}")

# Check cosine similarity range  
print("\nCosine similarity range:")
print(f"  Min: {cos_sim_train.min():.3f}")
print(f"  Max: {cos_sim_train.max():.3f}")
print(f"  Mean: {cos_sim_train.mean():.3f}")

TF-IDF Combined features range:
  Min: 0.000000
  Max: 0.824428
  Mean: 0.002912

Cosine similarity range:
  Min: 0.000
  Max: 0.552
  Mean: 0.110

In [93]:
feature_names = list(tfidf.get_feature_names_out()) + ['cosine_similarity']
feature_names

['00',
 '000',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '0expect',
 '10',
 '100',
 '1000',
 '109',
 '1099',
 '10g',
 '10th',
 '10x',
 '11',
 '116',
 '11g',
 '12',
 '13',
 '130',
 '139',
 '14',
 '145',
 '15',
 '150',
 '16',
 '17',
 '18',
 '180',
 '19',
 '190',
 '1994',
 '1997',
 '1998',
 '1999',
 '1softwar',
 '1st',
 '1to01',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2002to01',
 '2003',
 '2004',
 '2004to01',
 '2005',
 '2006',
 '2007',
 '2007to01',
 '2007to09',
 '2008',
 '2008m',
 '2008r2',
 '2008to04',
 '2008to05',
 '2008to12',
 '2008totobachelor',
 '2009',
 '2009to01',
 '2009to07',
 '2010',
 '2011',
 '2011to04',
 '2011to05',
 '2011to11',
 '2012',
 '2012to01',
 '2012to03',
 '2012to06',
 '2012to07',
 '2012to12',
 '2013',
 '2013senior',
 '2013softwar',
 '2013to01',
 '2013to04',
 '2013to07',
 '2013to08',
 '2013to10',
 '2013to11',
 '2013totobachelor',
 '2014',
 '2014softwar',
 '2014to01',
 '2014to02',
 '2014to05',
 '2014to06',
 '2014to07',
 '2014to08',
 '2014to11',
 '2014web',
 '2015',
 '2015qa',
 '2015to07',
 '2015to08',
 '2015totobachelor',
 '2015totomast',
 '2016',
 '2016to07',
 '2017',
 '2017softwar',
 '2017to01',
 '2017to07',
 '2017to12',
 '2018',
 '2018to08',
 '2019',
 '2019to04',
 '2019to06',
 '2019to08',
 '2020',
 '2021',
 '2022',
 '2022apeksha',
 '2022toto',
 '2023',
 '2023america',
 '21',
 '22',
 '22nd',
 '23',
 '24',
 '247',
 '25',
 '250',
 '25608',
 '27',
 '28',
 '29',
 '2d',
 '2nd',
 '30',
 '300',
 '3000',
 '32',
 '35',
 '350',
 '36',
 '365',
 '37',
 '3d',
 '3rd',
 '40',
 '400',
 '401',
 '401k',
 '4100',
 '45',
 '48',
 '4th',
 '50',
 '500',
 '5000',
 '508',
 '55',
 '58',
 '60',
 '600',
 '65',
 '67',
 '69',
 '70',
 '73',
 '75',
 '750',
 '80',
 '800',
 '82',
 '84',
 '85',
 '86',
 '88',
 '8i',
 '90',
 '900',
 '9001',
 '92',
 '95',
 '97',
 '98',
 '98window',
 '99',
 '9i',
 'ab',
 'abap',
 'abil',
 'abilities',
 'ability',
 'abl',
 'abov',
 'abreast',
 'abroad',
 'absenc',
 'abstract',
 'ac',
 'academ',
 'academi',
 'acceler',
 'accent',
 'accept',
 'access',
 'accessprogram',
 'accid',
 'accident',
 'accommod',
 'accommodation',
 'accompani',
 'accomplish',
 'accord',
 'accordingli',
 'accordingly',
 'account',
 'accountant',
 'accountantacc',
 'accountantloc',
 'accounting',
 'accounts',
 'accredit',
 'accru',
 'accrual',
 'accur',
 'accuraci',
 'accuracy',
 'accurate',
 'accurately',
 'ach',
 'achiev',
 'acl',
 'acontinu',
 'acquir',
 'acquisit',
 'acquisitions',
 'acrobat',
 'act',
 'action',
 'actions',
 'activ',
 'activities',
 'activity',
 'actual',
 'actuat',
 'acumen',
 'ad',
 'ada',
 'adapt',
 'add',
 'addit',
 'address',
 'adept',
 'adequ',
 'adf',
 'adh',
 'adher',
 'adhoc',
 'adjust',
 'adjustments',
 'admin',
 'administ',
 'administr',
 'administration',
 'administrator',
 'admiss',
 'ado',
 'adob',
 'adopt',
 'adp',
 'adv',
 'advanc',
 'advantag',
 'advertis',
 'advic',
 'advis',
 'advisor',
 'advisori',
 'advoc',
 'aerospac',
 'aesthet',
 'af',
 'affair',
 'affect',
 'affili',
 'affirm',
 'afford',
 'age',
 'agenc',
 'agencies',
 'agency',
 'agenda',
 'agent',
 'aggreg',
 'aggress',
 'agil',
 'agile',
 'agiledevop',
 'agilescrum',
 'agility',
 'agrarian',
 'agre',
 'agreement',
 'agreements',
 'agricultur',
 'ahead',
 'ai',
 'aid',
 'aim',
 'air',
 'aircraft',
 'airflow',
 'aix',
 'aixexperi',
 'ajax',
 'ajaxmaya',
 'akash',
 'al',
 'alabama',
 'alarm',
 'albani',
 'alert',
 'alfresco',
 'algebra',
 'algorithm',
 'algorithms',
 'align',
 'allen',
 'allergan',
 'allevi',
 'allianc',
 'alloc',
 'allocation',
 'allow',
 'allvu',
 'alm',
 'alon',
 'alongsid',
 'alpha',
 'alphabet',
 'alreadi',
 'alstom',
 'alten',
 'altera',
 'altern',
 'altium',
 'alumni',
 'alway',
 'amaz',
 'amazon',
 'ambigu',
 'ambit',
 'ambiti',
 'amdoc',
 'amend',
 'america',
 'american',
 'ami',
 'amort',
 'amp',
 'amplifi',
 'amqp',
 'anaheim',
 'analog',
 'analys',
 'analyses',
 'analysi',
 'analysis',
 'analysisdata',
 'analysisfinanci',
 'analysistableaustatist',
 'analyst',
 'analystc',
 'analystloc',
 'analyt',
 'analytics',
 'analyz',
 'anc',
 'ancestri',
 'andhra',
 'andor',
 'android',
 'angel',
 'angular',
 'angularj',
 'angularjs',
 'ani',
 'anim',
 'ann',
 'annapoli',
 'annu',
 'annual',
 'anomali',
 'anomalies',
 'anoth',
 'ansibl',
 'ansibleawxtower',
 'answ',
 'answer',
 'ant',
 'anti',
 'anticip',
 'antonio',
 'anxiou',
 'anyon',
 'anyth',
 'anywher',
 'ap',
 'apach',
 'apart',
 'apc',
 'apex',
 'api',
 'apige',
 'apis',
 'app',
 'appceler',
 'appeal',
 'appear',
 'appfolio',
 'appl',
 'appli',
 'applianc',
 'applic',
 'applicants',
 'application',
 'applications',
 'applicationsclass',
 'apply',
 'appoint',
 'appointments',
 'appreci',
 'apprenticeship',
 'approach',
 'approaches',
 'appropri',
 'appropriate',
 'appropriately',
 'approv',
 'approval',
 'approxim',
 'apr',
 'april',
 'aptitud',
 'ar',
 'arc',
 'archicad',
 'architect',
 'architectur',
 'architecture',
 'architectures',
 'archiv',
 'arduino',
 'area',
 'areas',
 'aris',
 'arise',
 'arkansa',
 'arlington',
 'arm',
 'armenia',
 'armi',
 'armstrong',
 'arrang',
 'array',
 'arrear',
 'art',
 'articl',
 'articul',
 'artifact',
 'artifici',
 'as400',
 'asac',
 'asap',
 'asc',
 'ascertain',
 'asia',
 'asic',
 'ask',
 'asp',
 'aspc',
 'aspect',
 'aspic',
 'aspir',
 'assay',
 'assembl',
 'assemblies',
 'assess',
 'assessmentrequir',
 'asset',
 'assets',
 'assign',
 'assigned',
 'assignments',
 'assist',
 'assistance',
 'assistant',
 'associ',
 'associates',
 'association',
 'assum',
 'assur',
 'aster',
 'asynchron',
 'athen',
 'athlet',
 'atlanta',
 'atlassian',
 'atm',
 'atmospher',
 'atom',
 'ats',
 'attach',
 'attain',
 'attempt',
 'attend',
 'attent',
 'attest',
 'attitud',
 'attorney',
 'attract',
 'attribut',
 'audienc',
 'audiences',
 'audio',
 'audit',
 'auditor',
 'auditors',
 'audits',
 'aug',
 'augment',
 'austin',
 'authent',
 'authentication',
 'author',
 'auto',
 'autocad',
 'autodesk',
 'autom',
 'automat',
 'automation',
 'automot',
 'autonom',
 'autonomi',
 'autosi',
 'aux',
 'auxiliari',
 'av',
 'avail',
 'availability',
 'available',
 'averag',
 'aviat',
 'avoid',
 'avr',
 'avro',
 'aw',
 'awar',
 'award',
 'away',
 'awi',
 'aws',
 'az',
 'azur',
 'azure',
 'b2b',
 'ba',
 'ba7',
 'bab',
 'babi',
 'bac',
 'bachelor',
 'backbon',
 'backend',
 'background',
 'backlog',
 'backup',
 'bad',
 'baker',
 'bal',
 'balanc',
 'baltimor',
 'bancorp',
 'band',
 'bangalor',
 'bank',
 'bar',
 'barcod',
 'baroda',
 'barrier',
 'bas',
 'base',
 'base24',
 'basel',
 'baselin',
 'bash',
 'basi',
 'basic',
 'basis',
 'batch',
 'batteri',
 'battl',
 'bay',
 'bdd',
 'bea',
 'beach',
 'beam',
 'bean',
 'beauti',
 'becam',
 'becaus',
 'becom',
 'befor',
 'begin',
 'beginning',
 'behalf',
 'behavior',
 'behaviour',
 'belief',
 'believ',
 'belong',
 'belt',
 'bench',
 'benchmark',
 'benefici',
 'benefit',
 'benefits',
 'bentley',
 'berkeley',
 'best',
 'beta',
 'better',
 'beverag',
 'bgp',
 'bi',
 'bid',
 'big',
 'biggest',
 'bigqueri',
 'billing',
 'billion',
 'bin',
 'bio',
 'biolog',
 'biomed',
 'bip',
 'bit',
 'bitbucket',
 'black',
 'blend',
 'blob',
 'block',
 'blog',
 'blood',
 'bloomberg',
 'blue',
 'blueprint',
 'bluetooth',
 'bm',
 'bni',
 'bo',
 'board',
 'bob',
 'boe',
 'bold',
 'bom',
 'bond',
 'bonu',
 'bonus',
 'book',
 'bookkeep',
 'boost',
 'boot',
 'bootcamp',
 'bootstrap',
 'booz',
 'borland',
 'boston',
 'bot',
 'boto3',
 'bottleneck',
 'boulder',
 'boundari',
 'box',
 'bpm',
 'bradley',
 'brainstorm',
 'brake',
 'branch',
 'brand',
 'brd',
 'break',
 'breakdown',
 'breaker',
 'breakthrough',
 'brick',
 'bridg',
 'brief',
 'bring',
 'broad',
 'broadcast',
 'broader',
 'broker',
 'brooklyn',
 'brows',
 'browser',
 'bs',
 'bsc',
 'bsm',
 'bu',
 'bucket',
 'budget',
 'budgetari',
 'budgets',
 'bug',
 'bugs',
 'bugzilla',
 'build',
 'builder',
 'building',
 'built',
 'bulk',
 'bureau',
 'burn',
 'busi',
 'business',
 'businesses',
 'button',
 'buy',
 'bw',
 'ca',
 'cabinet',
 'cabl',
 'cach',
 'cad',
 'cadenc',
 'caexpect',
 'cagpa',
 'cal',
 'calcul',
 'calculu',
 'calendar',
 'calibr',
 'california',
 'caller',
 'calls',
 'calm',
 'cam',
 'camera',
 'camp',
 'campaign',
 'campu',
 'campus',
 'canada',
 'cancel',
 'cancer',
 'candid',
 'candidate',
 'canon',
 'canva',
 'cap',
 'capabilities',
 'capabl',
 'capac',
 'capgemini',
 'capit',
 'captur',
 'car',
 'carbon',
 'card',
 'cardhold',
 'care',
 'career',
 'careers',
 'carolina',
 'carri',
 'carrier',
 'cart',
 'cas',
 'cascad',
 'case',
 'cases',
 'cash',
 'cashier',
 'cassandra',
 'casual',
 'catalog',
 'categor',
 'categori',
 'category',
 'cater',
 'caterpillar',
 'caus',
 'cc',
 'ccm',
 'ccna',
 'cd',
 'cdc',
 'cdma',
 'ce',
 'ceil',
 'celebr',
 'cell',
 'cellular',
 'cent',
 'center',
 'centers',
 'centr',
 'central',
 'centric',
 'centuri',
 'centurion',
 'ceo',
 'cerner',
 'certain',
 'certif',
 'certifi',
 'certification',
 'cfo',
 'cgi',
 'cgmp',
 'chain',
 'challeng',
 'challenges',
 'champion',
 'chanc',
 'chang',
 'change',
 'changes',
 'channel',
 'characterist',
 'characteristics',
 'charg',
 'chargeback',
 'charges',
 'chariti',
 'charleston',
 'charlott',
 'chart',
 'charter',
 'chase',
 'chat',
 'check',
 'checker',
 'checklist',
 'checkout',
 'checkpoint',
 'checks',
 'chef',
 'chemic',
 'chemistri',
 'chicago',
 'chief',
 'child',
 'childbirth',
 'childcar',
 'children',
 'china',
 'chintzi',
 'chip',
 'choic',
 'choos',
 'chosen',
 'christi',
 'christian',
 'chrome',
 'ci',
 'cicd',
 'cincinnati',
 'circuit',
 'circuits',
 'cisco',
 'citi',
 'citizen',
 'citizenship',
 'civil',
 'civilian',
 'claim',
 'claims',
 'clair',
 'clarif',
 'clarifi',
 'clariti',
 'class',
 'classic',
 'classif',
 'classifi',
 'classroom',
 'claus',
 'clean',
 'cleanli',
 'cleans',
 'clear',
 'clearanc',
 'clearcas',
 'clearli',
 'clearpath',
 'clearquest',
 'cleric',
 'clerk',
 'cleveland',
 'cli',
 'click',
 'client',
 'clients',
 'climb',
 'clini100',
 'clinic',
 'clinician',
 'clock',
 'clone',
 'clos',
 'close',
 'closed',
 'closer',
 'closur',
 'closure',
 'cloud',
 'cloudera',
 'cloudform',
 'cloudwatch',
 'club',
 'cluster',
 'clustering',
 'cm',
 'cmmi',
 'cna',
 'cnc',
 'coach',
 'cobol',
 'cod',
 'code',
 'codec',
 'codeplaybook',
 'coder',
 'coding',
 'coe',
 'cogniz',
 'cogno',
 'cogpa',
 'cold',
 'collabor',
 'collaboration',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collin',
 'color',
 'colorado',
 'columbia',
 'columbu',
 'column',
 'com',
 'combat',
 'combin',
 'come',
 'comfort',
 'command',
 'commerc',
 'commerci',
 'commiss',
 'commission',
 'commit',
 'commitments',
 'committe',
 'common',
 'commonli',
 'commun',
 'communication',
 'communications',
 'communities',
 'community',
 'commut',
 'comp',
 'compani',
 'companies',
 'company',
 'compar',
 'comparison',
 'compat',
 'compel',
 'compens',
 'compensation',
 'compet',
 'competit',
 'competitor',
 'compil',
 'compilation',
 'complaint',
 'complaints',
 'complet',
 'completion',
 'complex',
 'compli',
 ...]