## Import libraries, dataset and read it

In [136]:
import pandas as pd
import numpy as np

In [137]:
from datasets import load_dataset

dataset = load_dataset("cnamuangtoun/resume-job-description-fit")

In [138]:
dataset

DatasetDict({
    train: Dataset({
        features: ['resume_text', 'job_description_text', 'label'],
        num_rows: 6241
    })
    test: Dataset({
        features: ['resume_text', 'job_description_text', 'label'],
        num_rows: 1759
    })
})

In [139]:
df = pd.concat(
    [
        dataset["train"].to_pandas(),
        dataset["test"].to_pandas()
    ],
    ignore_index=True
)
df

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit
...,...,...,...
7995,SummaryHighly motivated Sales Associate with e...,"Position Type: Full-Time, W2 Direct Hire. (Mus...",Good Fit
7996,SummaryWireless communications engineer with e...,"Location: Tampa, FL\nExp: 7-10 Yrs\nSPOC: Tush...",Good Fit
7997,Professional ProfileCapable International Tax ...,"Backed by a leading growth equity firm, an LA ...",Good Fit
7998,SummaryData Engineeringwith experience in Desi...,Allergan Data Labs is on a mission to transfor...,Good Fit
7999,SummaryResults-driven Data Entry Clerk with ex...,"Title: Sr. Data EngineerLocation: Austin, TxDu...",Good Fit

## EDA and preprocessing

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   resume_text           8000 non-null   object
 1   job_description_text  8000 non-null   object
 2   label                 8000 non-null   object
dtypes: object(3)
memory usage: 187.6+ KB

In [141]:
df.head()

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit

In [142]:
df.describe()

,resume_text,job_description_text,label
count,8000,8000,8000
unique,643,351,3
top,SummaryFinancial Accountant specializing in fi...,Calling all innovators find your future at Fi...,No Fit
freq,82,111,4000

In [143]:
# Check label distribution
print(df['label'].value_counts())

label
No Fit           4000
Potential Fit    2000
Good Fit         2000
Name: count, dtype: int64

In [144]:
# Check text length

df_text = pd.DataFrame()

df_text['resume_len'] = df['resume_text'].apply(len)
df_text['job_len'] = df['job_description_text'].apply(len)

print(df_text[['resume_len', 'job_len']].describe())

         resume_len      job_len
count   8000.000000  8000.000000
mean    5773.369000  2777.030875
std     2958.109675  1777.249968
min      897.000000    72.000000
25%     4234.000000  1309.000000
50%     5123.000000  2401.000000
75%     6603.000000  3985.000000
max    25364.000000  8171.000000

## Text preprocessing

In [145]:
#Remove punctuation and special characters

import re
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)  # Normalize spaces
    
    text = re.sub(r'\S+@\S+', ' email ', text)  # replace emails
    text = re.sub(r'\+?\d[\d\s\-\(\)]{7,}\d', ' phone ', text)  # replace phone numbers
    text = re.sub(r'www\.\S+|https?://\S+|\S+\.com', ' url ', text)  # Mask URLs (simple patterns)

    # remove noisy characters
    text = re.sub(r"[^\w\s\.\'\-\/\+\[\]]", ' ', text)

    #text = ' '.join([word for word in text.split() if word not in ENGLISH_STOP_WORDS]) # Remove stopwords

    # Normalize spaces again
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

df['resume_text'] = df['resume_text'].apply(preprocess_text)
df['job_description_text'] = df['job_description_text'].apply(preprocess_text)

In [146]:
# Check text length

df_text = pd.DataFrame()

df_text['resume_len'] = df['resume_text'].apply(len)
df_text['job_len'] = df['job_description_text'].apply(len)

print(df_text[['resume_len', 'job_len']].describe())

         resume_len      job_len
count   8000.000000  8000.000000
mean    5647.272750  2724.711125
std     2900.199669  1748.179645
min      889.000000    72.000000
25%     4110.000000  1277.000000
50%     5018.000000  2369.000000
75%     6425.250000  3916.000000
max    25199.000000  8074.000000

In [147]:
df.head()

,resume_text,job_description_text,label
0,summaryhighly motivated sales associate with e...,net2source inc. is an award-winning total work...,No Fit
1,professional summarycurrently working with cat...,at salas obrien we tell our clients that were ...,No Fit
2,summaryi started my construction career in jun...,schweitzer engineering laboratories sel infras...,No Fit
3,summarycertified electrical foremanwith thirte...,mizick miller company inc. is looking for a dy...,No Fit
4,summarywith extensive experience in business/r...,life at capgemini capgemini supports all aspec...,No Fit

In [148]:
# Combine text columns
df['combined_text'] = df['resume_text'] + " [SEP] " + df['job_description_text']

In [149]:
df.head()

,resume_text,job_description_text,label,combined_text
0,summaryhighly motivated sales associate with e...,net2source inc. is an award-winning total work...,No Fit,summaryhighly motivated sales associate with e...
1,professional summarycurrently working with cat...,at salas obrien we tell our clients that were ...,No Fit,professional summarycurrently working with cat...
2,summaryi started my construction career in jun...,schweitzer engineering laboratories sel infras...,No Fit,summaryi started my construction career in jun...
3,summarycertified electrical foremanwith thirte...,mizick miller company inc. is looking for a dy...,No Fit,summarycertified electrical foremanwith thirte...
4,summarywith extensive experience in business/r...,life at capgemini capgemini supports all aspec...,No Fit,summarywith extensive experience in business/r...

In [151]:
print(df['combined_text'][0])

summaryhighly motivated sales associate with extensive customer service and sales experience. outgoing sales professional with track record of driving increased sales improving buying experience and elevating company profile with target market. highlights-soft skills public speaking public relations team building project management procedure writing staff supervision and management ability to interface with professionals on all levels. accomplishments honors and activities -board of directors member for the food bank of corpus christi from november 2010 to april 2013. -held life insurance license -basketball official referee high school varsity level. experienceaccountant 08/2014-05/2015aspirus owen wi perform daily and routine accounting functions for two main companies and five small royalty companies. responsibilities include but are not limited to the following accounts payable accounts receivable manage and reconcile funds for multiple banks accounts payroll perform detail audits and adjustments of balance sheet and income statement accounts audit and pay monthly sales tax inventory reconciliations and budgeting.district administrative manager 02/2014-06/2014tradeweb markets inc. new york ny managed and assisted the accounts receivable accounts payable and hr/payroll staff for our district with daily entrees follow-up and reporting as needed. prepared and presented daily reports to various departments for more accurate management of the financial areas of their operations such as inventory purchase orders and bill of lading. performed accounting functions in on-base ax avantis and microsoft office software.business manager 01/2005-02/2014leidos clinton ms managed the operations for a 1.2 million dollar partnership. duties included planning overseeing and directing accounting logistics and production functions direct sales and customer service. accounting functions managed over 500k of fixed assets and inventories also valued over 500k.administered government contracts for usda food aid with gross revenue up to 1.5 million annually net income 500k .upgraded company's software to integrate bill of assembly to interface with accounting software.performed month end reconciliations audits closings and financial statement reporting.performed regular physical inventory audits.supervised bookkeeper all aspects of the accounting cycle including payroll ar and ap. operations functions oversaw and directed the warehouse supervisor warehouse maintenance supervisor and up to 20 employees to assure optimum production of personnel and url municated with logistics suppliers such as the railroads and various trucking companies governmental agencies such as the usda customers and vendors to assure on time receiving production and shipping of goods.created implemented and managed our company's food safety and quality assurance programs including a fifty page food safety guide. 2383 suwanee pointe drivelawrenceville ga phone email manager 01/2003-01/2004advantage solutions chesapeake va provided personnel solutions to various organizations for their accounting and administrative needs. interviewed and advised employees in various aspects of their professional career process. earned sales bonuses within my first three months with the company.accounting manager 01/2002-01/2002kroger westerville oh assisted controller in various aspects of the accounting cycle. supervised new member billing clerk and cash receipts clerk. helped with computer and networking issues in a windows nt/xp environment. implemented changes and procedures through two software upgrades in csi software. trained various staff in effective use of ms excel. audited corporate-billing accounts.general merchandise department manager 01/2000-01/2002cargas systems inc lancaster pa supervised and trained employees for strategic ordering and merchandising product for optimal sales and in standard operating procedures. created weekly schedule and departmental reports. prepared for physical inventory every 6 months.accounting software consultant 01/1998-01/2000aspirus prentice wi consulted users of daceasy accounting applications in software training troubleshooting setting up their entire automated accounting system and establishing accounting procedures for their business. trained other departments in proper accounting procedures worked closely with cpa's for all tax related issues and coordinated payroll processing with an automated payroll system.accountant 01/1999-01/2000centrecom incorporated city state full charge bookkeeper/accountant for a start-up internet telephone company. entered daily gl transactions. supervised the accounts payable clerk. worked with the assistant controller to establish and manage the accounting functions related to all sales aspects of the business. assisted with month end reconciliations. reconciled cash balance reports for five bank accounts on a daily basis and assisted in the managing of these accounts. other duties included writing accounting procedures for accounts payable and cash management. educationmaster of arts christian education expected in-dallas theological seminary-dallas txgpa status-master of arts in christian education - dallas theological seminary dallas txbachelor of arts economics expected in-marshall university-huntington wvgpa status-bachelor of arts in economics - marshall university huntington wvassociates of applied science accounting expected in-hocking technical college-nelsonville ohgpa status-associates of applied science in accounting - hocking technical college nelsonville oh maintained a 4.0 gpa while completing 12 hours of upper level accounting courses. skillsaccounting sales inventory payroll the accounting reconciliations bookkeeper audits operations ap ar assembly closings contracts customer service direct sales fixed assets food safety government contracts logistics maintenance million quality assurance receptionist retail sales sales and shipping usda accounts payable solutions staffing cash clerk merchandising ordering automated payroll payroll processing software training training accountant the accounts accounts receivable credit billing csi excel ms excel networking all sales basis cash management forecasting gl telephone adjustments audit balance sheet budgeting monthly sales sales tax annuities cpa life insurance procedure writing project management public relations team building administrative manager entrees entrées hr microsoft office ms office purchase orders [SEP] net2source inc. is an award-winning total workforce solutions company recognized by staffing industry analysts for our accelerated growth of 300 in the last 3 years with over 5500+ employees globally with over 30+ locations in the us and global operations in 32 countries. we believe in providing staffing solutions to address the current talent gap right talent right time right place right price and acting as a career coach to our consultants. role basel business analystlocation washington d.c.work mode hybridhire type 6+ month contract extendable jd role specific experience 6+ years of relevant technical and business work experience the candidates who have worked on basel related projects in credit risks or at least are aware of credit risk. banking financial domain experience along with knowledge of risk management familiarity with concepts of finance and accounting proficiency in ms excel experience in defining and implementing technology solutions for a major financial institution extensive experience as a business analyst for a large financial institution extensive experience in gathering business requirements and developing functional specifications with special emphasis on use cases defining test cases and providing user training and support extensive experience with various system development lifecycle methodologies and tailoring the artifacts to those methodologies solution-oriented detailed-focused showing strong analytical and organization skills familiarity with relational databases rdms experience with writing simple sql statements mostly select with aim to analyze datasets regards prashant singhsr. account manager - enterprise businessnet2source email phone board phone ext. 509 fax phone corp. hqs 317 george st. suite 220 new brunswick nj 08901linkedin url inprashant-singh-b1b23526website url why work with us - at net2source we believe everyone has an opportunity to lead. we see the importance of your perspective and your ability to create value. we want you to fit inwith an inclusive culture focus on work-life fit and well-being and a supportive connected environment but we also want you to stand outwith opportunities to have a strategic impact innovate and take necessary steps to make your mark. we help clients with new skilling talent strategy leadership development employee experience transformational change management and beyond. equal employment opportunity statement net2source is an equal opportunity employer. we believe that no one should be discriminated against because of their differences such as age disability ethnicity gender gender identity and expression religion or sexual orientation. our rich diversity makes us more innovative more competitive and more creative which helps us better serve our clients and our communities. all employment decisions shall be made without regard to age race creed color religion sex national origin ancestry disability status veteran status sexual orientation gender identity or expression genetic information marital status citizenship status or any other basis as protected by federal state or local law. awards and accolades america's most honored businesses top 10 awarded by uspaac for fastest growing business in the us12th fastest growing staffing company in usa by staffing industry analysts in the us 2020 2019 2020 fastest 50 by nj biz 2020 2019 2020 inc 5000 fastest growing for 8 consecutive years in a row only 1.26 companies make it to this list top 100 by dallas business journal 2020 and 2019 proven supplier of the year by workforce logiq 2020 and phone spirit of alliance award by agile12018 best of the best platinum award by agile12018 techserve alliance excellence awards winner2017 best of the best gold award by agile1 act1 group

### Encode label columns

## Split the data

### Converting Resume Text and Job Description Text into Vectors and Computing Cosine Similarity as a New Feature

#### TF-IDF Vectorizer
- Converts text into numbers that reflect how important each word is in a document relative to the whole collection of documents.
- **Output:** A numeric vector for each document, where each element represents the TF-IDF score of a word from the vocabulary.

#### Cosine Similarity
- Computes the angle between the two TF-IDF vectors.
- `1` → texts are very similar
- `0` → texts are completely different