## Import libraries, dataset and read it

In [2]:
import pandas as pd
import numpy as np

In [3]:
from datasets import load_dataset

dataset = load_dataset("cnamuangtoun/resume-job-description-fit")

train.csv:   0%|          | 0.00/53.4M [00:00<?, ?B/s]

test.csv:   0%|          | 0.00/15.2M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/6241 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/1759 [00:00<?, ? examples/s]

In [4]:
dataset

DatasetDict({
    train: Dataset({
        features: ['resume_text', 'job_description_text', 'label'],
        num_rows: 6241
    })
    test: Dataset({
        features: ['resume_text', 'job_description_text', 'label'],
        num_rows: 1759
    })
})

In [184]:
df = pd.concat(
    [
        dataset["train"].to_pandas(),
        dataset["test"].to_pandas()
    ],
    ignore_index=True
)
df

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit
...,...,...,...
7995,SummaryHighly motivated Sales Associate with e...,"Position Type: Full-Time, W2 Direct Hire. (Mus...",Good Fit
7996,SummaryWireless communications engineer with e...,"Location: Tampa, FL\nExp: 7-10 Yrs\nSPOC: Tush...",Good Fit
7997,Professional ProfileCapable International Tax ...,"Backed by a leading growth equity firm, an LA ...",Good Fit
7998,SummaryData Engineeringwith experience in Desi...,Allergan Data Labs is on a mission to transfor...,Good Fit
7999,SummaryResults-driven Data Entry Clerk with ex...,"Title: Sr. Data EngineerLocation: Austin, TxDu...",Good Fit

## EDA and preprocessing

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   resume_text           8000 non-null   object
 1   job_description_text  8000 non-null   object
 2   label                 8000 non-null   object
dtypes: object(3)
memory usage: 187.6+ KB

In [186]:
df.head()

,resume_text,job_description_text,label
0,SummaryHighly motivated Sales Associate with e...,Net2Source Inc. is an award-winning total work...,No Fit
1,Professional SummaryCurrently working with Cat...,At Salas OBrien we tell our clients that were ...,No Fit
2,SummaryI started my construction career in Jun...,Schweitzer Engineering Laboratories (SEL) Infr...,No Fit
3,SummaryCertified Electrical Foremanwith thirte...,"Mizick Miller & Company, Inc. is looking for a...",No Fit
4,SummaryWith extensive experience in business/r...,Life at Capgemini\nCapgemini supports all aspe...,No Fit

In [187]:
df.describe()

,resume_text,job_description_text,label
count,8000,8000,8000
unique,643,351,3
top,SummaryFinancial Accountant specializing in fi...,Calling all innovators find your future at Fi...,No Fit
freq,82,111,4000

In [188]:
# Check label distribution
print(df['label'].value_counts())

label
No Fit           4000
Potential Fit    2000
Good Fit         2000
Name: count, dtype: int64

In [189]:
# Check text length

df_text = pd.DataFrame()

df_text['resume_len'] = df['resume_text'].apply(len)
df_text['job_len'] = df['job_description_text'].apply(len)

print(df_text[['resume_len', 'job_len']].describe())

         resume_len      job_len
count   8000.000000  8000.000000
mean    5773.369000  2777.030875
std     2958.109675  1777.249968
min      897.000000    72.000000
25%     4234.000000  1309.000000
50%     5123.000000  2401.000000
75%     6603.000000  3985.000000
max    25364.000000  8171.000000

## Text preprocessing

In [190]:
#Lowercasing

df['resume_text'] = df['resume_text'].str.lower()
df['job_description_text'] = df['job_description_text'].str.lower()

In [191]:
#Remove punctuation and special characters

import re
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS

def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'\s+', ' ', text)  # Normalize spaces
    text = re.sub(r'\S+@\S+', ' email ', text)  # replace emails
    text = re.sub(r'\+?\d[\d\s\-\(\)]{7,}\d', ' phone ', text)  # replace phone numbers
    text = re.sub(r'www\.\S+|https?://\S+|\S+\.com', ' url ', text)  # Mask URLs (simple patterns)
    text = re.sub(r'\d+\+', r'\g<0>', text)  # optional, keep '6+ years' intact

    # Replace punctuation with space to prevent merging words
    text = re.sub(r'[^\w\s\[\]]', ' ', text)

    text = ' '.join([word for word in text.split() if word not in ENGLISH_STOP_WORDS]) # Remove stopwords

    # Normalize spaces again after punctuation removal
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

df['resume_text'] = df['resume_text'].apply(preprocess_text)
df['job_description_text'] = df['job_description_text'].apply(preprocess_text)

In [192]:
# Check text length

df_text = pd.DataFrame()

df_text['resume_len'] = df['resume_text'].apply(len)
df_text['job_len'] = df['job_description_text'].apply(len)

print(df_text[['resume_len', 'job_len']].describe())

         resume_len      job_len
count   8000.000000  8000.000000
mean    4899.676250  2187.921750
std     2491.289549  1364.326364
min      798.000000    53.000000
25%     3511.000000   985.000000
50%     4386.000000  1966.000000
75%     5623.500000  3216.000000
max    22520.000000  6222.000000

In [193]:
df.head()

,resume_text,job_description_text,label
0,summaryhighly motivated sales associate extens...,net2source award winning total workforce solut...,No Fit
1,professional summarycurrently working caterpil...,salas obrien tell clients engineered impact pa...,No Fit
2,summaryi started construction career june 2017...,schweitzer engineering laboratories sel infras...,No Fit
3,summarycertified electrical foremanwith thirte...,mizick miller company looking dynamic individu...,No Fit
4,summarywith extensive experience business requ...,life capgemini capgemini supports aspects chan...,No Fit

In [194]:
# Combine text columns
df['combined_text'] = df['resume_text'] + " [SEP] " + df['job_description_text']

In [195]:
df.head()

,resume_text,job_description_text,label,combined_text
0,summaryhighly motivated sales associate extens...,net2source award winning total workforce solut...,No Fit,summaryhighly motivated sales associate extens...
1,professional summarycurrently working caterpil...,salas obrien tell clients engineered impact pa...,No Fit,professional summarycurrently working caterpil...
2,summaryi started construction career june 2017...,schweitzer engineering laboratories sel infras...,No Fit,summaryi started construction career june 2017...
3,summarycertified electrical foremanwith thirte...,mizick miller company looking dynamic individu...,No Fit,summarycertified electrical foremanwith thirte...
4,summarywith extensive experience business requ...,life capgemini capgemini supports aspects chan...,No Fit,summarywith extensive experience business requ...

In [196]:
print(df['combined_text'][0])

summaryhighly motivated sales associate extensive customer service sales experience outgoing sales professional track record driving increased sales improving buying experience elevating company profile target market highlights soft skills public speaking public relations team building project management procedure writing staff supervision management ability interface professionals levels accomplishments honors activities board directors member food bank corpus christi november 2010 april 2013 held life insurance license basketball official referee high school varsity level experienceaccountant 08 2014 05 2015aspirus owen wi perform daily routine accounting functions main companies small royalty companies responsibilities include limited following accounts payable accounts receivable manage reconcile funds multiple banks accounts payroll perform audits adjustments balance sheet income statement accounts audit pay monthly sales tax inventory reconciliations budgeting district administrative manager 02 2014 06 2014tradeweb markets new york ny managed assisted accounts receivable accounts payable hr payroll staff district daily entrees follow reporting needed prepared presented daily reports various departments accurate management financial areas operations inventory purchase orders lading performed accounting functions base ax avantis microsoft office software business manager 01 2005 02 2014leidos clinton ms managed operations 1 2 million dollar partnership duties included planning overseeing directing accounting logistics production functions direct sales customer service accounting functions managed 500k fixed assets inventories valued 500k administered government contracts usda food aid gross revenue 1 5 million annually net income 500k upgraded company s software integrate assembly interface accounting software performed month end reconciliations audits closings financial statement reporting performed regular physical inventory audits supervised bookkeeper aspects accounting cycle including payroll ar ap operations functions oversaw directed warehouse supervisor warehouse maintenance supervisor 20 employees assure optimum production personnel url municated logistics suppliers railroads various trucking companies governmental agencies usda customers vendors assure time receiving production shipping goods created implemented managed company s food safety quality assurance programs including page food safety guide 2383 suwanee pointe drivelawrenceville ga phone email manager 01 2003 01 2004advantage solutions chesapeake va provided personnel solutions various organizations accounting administrative needs interviewed advised employees various aspects professional career process earned sales bonuses months company accounting manager 01 2002 01 2002kroger westerville oh assisted controller various aspects accounting cycle supervised new member billing clerk cash receipts clerk helped computer networking issues windows nt xp environment implemented changes procedures software upgrades csi software trained various staff effective use ms excel audited corporate billing accounts general merchandise department manager 01 2000 01 2002cargas systems lancaster pa supervised trained employees strategic ordering merchandising product optimal sales standard operating procedures created weekly schedule departmental reports prepared physical inventory 6 months accounting software consultant 01 1998 01 2000aspirus prentice wi consulted users daceasy accounting applications software training troubleshooting setting entire automated accounting establishing accounting procedures business trained departments proper accounting procedures worked closely cpa s tax related issues coordinated payroll processing automated payroll accountant 01 1999 01 2000centrecom incorporated city state charge bookkeeper accountant start internet telephone company entered daily gl transactions supervised accounts payable clerk worked assistant controller establish manage accounting functions related sales aspects business assisted month end reconciliations reconciled cash balance reports bank accounts daily basis assisted managing accounts duties included writing accounting procedures accounts payable cash management educationmaster arts christian education expected dallas theological seminary dallas txgpa status master arts christian education dallas theological seminary dallas txbachelor arts economics expected marshall university huntington wvgpa status bachelor arts economics marshall university huntington wvassociates applied science accounting expected hocking technical college nelsonville ohgpa status associates applied science accounting hocking technical college nelsonville oh maintained 4 0 gpa completing 12 hours upper level accounting courses skillsaccounting sales inventory payroll accounting reconciliations bookkeeper audits operations ap ar assembly closings contracts customer service direct sales fixed assets food safety government contracts logistics maintenance million quality assurance receptionist retail sales sales shipping usda accounts payable solutions staffing cash clerk merchandising ordering automated payroll payroll processing software training training accountant accounts accounts receivable credit billing csi excel ms excel networking sales basis cash management forecasting gl telephone adjustments audit balance sheet budgeting monthly sales sales tax annuities cpa life insurance procedure writing project management public relations team building administrative manager entrees entrées hr microsoft office ms office purchase orders [SEP] net2source award winning total workforce solutions company recognized staffing industry analysts accelerated growth 300 3 years 5500 employees globally 30 locations global operations 32 countries believe providing staffing solutions address current talent gap right talent right time right place right price acting career coach consultants role basel business analystlocation washington d c work mode hybridhire type 6 month contract extendable jd role specific experience 6 years relevant technical business work experience candidates worked basel related projects credit risks aware credit risk banking financial domain experience knowledge risk management familiarity concepts finance accounting proficiency ms excel experience defining implementing technology solutions major financial institution extensive experience business analyst large financial institution extensive experience gathering business requirements developing functional specifications special emphasis use cases defining test cases providing user training support extensive experience various development lifecycle methodologies tailoring artifacts methodologies solution oriented detailed focused showing strong analytical organization skills familiarity relational databases rdms experience writing simple sql statements select aim analyze datasets regards prashant singhsr account manager enterprise businessnet2source email phone board phone ext 509 fax phone corp hqs 317 george st suite 220 new brunswick nj 08901linkedin url inprashant singh b1b23526website url work net2source believe opportunity lead importance perspective ability create value want fit inwith inclusive culture focus work life fit supportive connected environment want stand outwith opportunities strategic impact innovate necessary steps make mark help clients new skilling talent strategy leadership development employee experience transformational change management equal employment opportunity statement net2source equal opportunity employer believe discriminated differences age disability ethnicity gender gender identity expression religion sexual orientation rich diversity makes innovative competitive creative helps better serve clients communities employment decisions shall regard age race creed color religion sex national origin ancestry disability status veteran status sexual orientation gender identity expression genetic information marital status citizenship status basis protected federal state local law awards accolades america s honored businesses 10 awarded uspaac fastest growing business us12th fastest growing staffing company usa staffing industry analysts 2020 2019 2020 fastest 50 nj biz 2020 2019 2020 5000 fastest growing 8 consecutive years row 1 26 companies make list 100 dallas business journal 2020 2019 proven supplier year workforce logiq 2020 phone spirit alliance award agile12018 best best platinum award agile12018 techserve alliance excellence awards winner2017 best best gold award agile1 act1 group